body{
    background-color: #60A8D4 ;/*designates background color*/
    color: white;/*sets color*/
}
video{
    display: block;/*chooses how the video should be displayed*/
    margin: auto;/*margin auto aligns the desired item to the centre of the screen by default*/
    width: 420px;/*sets width*/
    height: 340px;/*sets height*/
}

h1 {
    text-align: left;/*aligns all text to the left*/
    font-family: Rodin, Arial, sans-serif;/*decides the font family, first being the preferred and second being the backup*/
}
h2 {
    text-align: center;/*aligns all text to the centre*/
    font-family: Rodin,Arial, sans-serif;/*decides the font family, first being the preferred and second being the backup*/
}

.container{
    background-color: #60A8D4;/*sets background color*/
    display: flex;/*sets the display as a flexbox*/
    justify-content: left;/*moves the content to the left of the screen*/
    align-items: center;/*aligns elements to the center of the screen*/
    flex-direction: column;/*changes how the flex box is aligned meaning that I can change which direction the text moves across the screen*/
    font-size: x-large;/*declares font size*/
    font-family: Arial,sans-serif/*sets font and a backup font*/
}

.div.main{
    background-color: #60A8D4;/*sets background color*/
    display: flex;/*sets the display as a flexbox*/
    justify-content: center;/*moves all content to the center*/
    align-items: center;/*aligns all items to the center*/
    flex-direction: column;/*changes how the flex box is aligned meaning that I can change which direction the text moves across the screen*/
    font-size: x-large;/*declares font size*/
    font-family: Arial,sans-serif;/*sets font and a backup font*/
}
.links{
    display: flex;/*sets the display as a flexbox*/
    justify-content: end;/*sets the text to the end of the box it is contained in*/
    text-align: right;/*aligns text to the right*/
    flex-direction: column;/*changes how the flex box is aligned meaning that I can change which direction the text moves across the screen*/
    font-size: x-large;/*declares font size*/
    font-family: Arial,sans-serif;/*sets font and a backup font*/
}
ol.coll_ol{
    display: inline-block;/*formats the list so the text in the list wraps around the inline block(centre of the screen)*/
    text-align: center;/*aligns all text to the centre*/
}

input{
    text-align: center;/*aligns all text to the centre*/
}

.flav{
    text-align: left;/*aligns text to the left*/
    display: -moz-box;/*I'll be completely honest I don't know how or why this works but it moved everything to the left and didn't without it*/
    color: white;/*sets font color*/

}
h2{
    text-align: left;/*aligns text to the left*/
}

.links_boxes{
    display: flex; /*flexboxes allow me to put the links in a row*/
    justify-content: space-around; /*puts space between each link*/
    align-items:center ; /*says it in the name, it aligns all items to the center of the screen*/
    background-color: white;/*sets background color*/
    padding: 10px; /*specifies the space between the link and the text above and below*/
}

.Booking_table{
    background-color: white;/*sets background color*/
    width: 100%;/*sets width of the table to 100% of the box*/
    border-collapse: separate;/*allows us to define the amount of space between cells*/
    border-spacing: 0;/*sets no space between cells*/
    color:black/*sets text color*/
}

th,td{
    text-align: left;/*aligns all text to the left*/
    padding: 15px;/*specifies padding size*/
    border-bottom: 1px solid black;/*adds a solid black line to the table helping to separate entries and create a more defined table*/
}
