.seven_color{
    color: darkorange;
}
body{
    background-color: #1c1f1c ;
    color: lightgrey;
}
.center{
}
@font-face {
    font-family:'re7_title_font';
    src: url("C:/Users/22OCallaS/PhpstormProjects/occupational-specialism-/May_26/mini_project_01/Assets/Plak-Black-Extra-Condensed.ttf") format('truetype');
}

p {
    text-align: center;
    font-size: large;
    font-family:re7_title_font ,Arial;
}
h1 {
    text-align: center;
    font-family: Rodin,Arial;

}

div {
    text-align: center;
}