body{
    background-color: #1c1f1c ;/*designates background color*/
    color: lightgrey;/*sets color*/
}
video{
    display: block;/*chooses how the video should be displayed*/
    margin: auto;/*margin auto aligns the desired item to the centre of the screen by default*/
    width: 420px;/*sets width*/
    height: 340px;/*sets height*/
}

h1 {
    text-align: center;/*aligns all text to the centre*/
    font-family: Rodin, Arial, sans-serif;/*decides the font family, first being the preferred and second being the backup*/
}
h2 {
    text-align: center;/*aligns all text to the centre*/
    font-family: Rodin,Arial, sans-serif;/*decides the font family, first being the preferred and second being the backup*/
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    font-family: Arial,sans-serif;
}

ol.coll_ol{
    display: inline-block;/*formats the list so the text in the list wraps around the inline block(centre of the screen)*/
    text-align: center;/*aligns all text to the centre*/
}

input{
    text-align: center;/*aligns all text to the centre*/
}