.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: x-large;
    font-family: Arial,sans-serif;
    background-color: #4B272C;
}
nav{
    width: 100%;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
}


nav ul {
    list-style-type: none; /*remove bullet points*/
    margin: 0; /*remove margin*/
    padding: 0; /*remove padding*/
    width: 100%;
    height: 120px;
    display: flex; /*makes it into a flexbox*/
    flex-direction: column;
    align-items: flex-end;
    background-color: #513838; /*sets background color*/
}

nav li:hover{ /*changes how the item looks when hovering over it*/
    background-color: darkred; /*changes background color*/
}

#pass_protector{
    width: 40%;
    height:50%;
    object-fit: cover;
    background-color:#4B272C ;
}

body{
    background-color: #4B272C;
    padding: 0;
    margin: 0;
}

#topbar{
    border-style: solid;
    border-color:black;
}

#main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: x-large;
    font-family: Arial,sans-serif;
    padding: 0;
    border-left-width: 100px;
    border-right-width: 100px;
    border-color:#A33040;
    border-style: solid;
    margin:0;
}